
   <%- include('partials/header'); %>
   <form action = "/add" method="POST" >
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" name="title" class="form-control"  aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">description</label>
      <input type="text" name="description" class="form-control" >
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>


  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Operation</th>
      </tr>
    </thead>
    <tbody>
      
    </tbody>
  </table>

    <%- include('partials/footer'); %>


    